VEILKEY_ENABLE_KEYCENTER=0
VEILKEY_ENABLE_LOCALVAULT=1
VEILKEY_ENABLE_PROXY=0
# --- TLS Configuration ---
VEILKEY_TLS_CERT=/etc/veilkey/tls/server.crt
VEILKEY_TLS_KEY=/etc/veilkey/tls/server.key
# VEILKEY_TLS_CA=/etc/veilkey/tls/ca.crt
